html{
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
	font-family: 'Montserrat', sans-serif;
	
}

/*----------NAVBAR & ANIMATION----------*/
header {
	opacity: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px 150px;
	font-family: 'Montserrat', sans-serif;
	font-variant: small-caps;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.781);
	background-attachment: fixed;
}

#header-title {
	font-size: 2.5rem;
}

#header-title a{
	text-decoration: none;
	color: white;
}

nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

nav li {
	text-transform: uppercase;
    font-size: 1.4rem;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.164);
    transition: 0.5s;
}

nav a {
	color: white;
	text-decoration: none;
    padding: 2.2rem 1.5rem;
    transition: 0.3s;
}
/*----------NAVBAR & ANIMATION----------*/

/*----------ABOUT ME----------*/
.about-me {
	display: grid;
	grid-template-columns: 60% 40%;
	text-align: left;
	height: 85vh;
	font-size: 2.3rem;
}

.about-me-title h1{
	font-size: 10rem;
	letter-spacing: 15px;
	margin: 25rem auto 0 8rem;
}

.about-me-title h2{
	font-size: 4rem;
	letter-spacing: 8px;
	margin: 0 auto 0 8rem;
}

.about-me-description{
	margin: 0 15rem 0 8rem;
}
/*----------ABOUT ME----------*/

#grid2 img {
	width: 80%;
	border-radius: 50%;
	margin: 8rem 0 0 0;
}