html{
    font-size: 10px;
}

::-moz-selection { /* Code for Firefox */
	
	background: rgba(131, 51, 155, 0.548);
  }
  
  ::selection {
	
	background-color: #3333334d;
  }

body {
    margin: 0;
    padding: 0;
    background-color: white;
	font-family: 'Montserrat', sans-serif;
}

/*----------NAVBAR & ANIMATION----------*/
header {
	opacity: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 10rem;
	font-family: 'Montserrat', sans-serif;
	/*font-variant: small-caps;*/
	z-index: 1;
	background-attachment: fixed;
	position: sticky;
	top: 0;
	background-color: white;
}

#header-title {
	font-size: 2.5rem;
}

#header-title a{
	text-decoration: none;
	color: black;
}

nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

nav li {
	text-transform: uppercase;
    font-size: 1.6rem;
	font-weight: 700;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.164);
    transition: 0.5s;
}

nav a {
	color: black;
	text-decoration: none;
    padding: 2.2rem 1.5rem;
    transition: 0.3s;
}
/*----------NAVBAR & ANIMATION----------*/

/*----------ABOUT ME----------*/
.about-me-grid {
	display: grid;
	grid-template-columns: 60% 40%;
	text-align: left;
	font-size: 2.3rem;
	/*background-color: #e9e9e9;*/
}

.about-me-titles h1{
	font-size: 10rem;
	letter-spacing: 15px;
	margin: 25rem auto 0 8rem;
}

.about-me-titles h2{
	font-size: 4rem;
	letter-spacing: 8px;
	margin: 0 auto 0 8rem;
}

.about-me-description{
	margin: 0 15rem 0rem 8rem;
}
/*----------ABOUT ME----------*/

.home-image {
	width: 80%;
	border-radius: 50%;
	margin: 8rem 0 0 0;
}

.skills{
	font-size: 2.3rem;
	margin: 15rem 0 0;
}

.skills-grid{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	width: 100rem;
	margin: auto;
	padding: 5rem;
	align-items: center;
	text-align: center;
}

.skills-grid div{
	box-shadow: 0px 1px 15px #333;
	border-radius: 10px;
	margin: 1rem;
}

.skills-grid div img:hover{
	transform: scale(0.9);
	transition: 0.5s;
}

.skills-grid div img{
	margin: 4rem 5rem;
	transition: 0.5s;
}

/*----------Card1-buttons----------*/

.cv-button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	text-align: center;
	white-space: nowrap;
	
}


.cv-button a:hover {
	background-color: #333;
	box-shadow: 0px 1px 15px #333;
	color: #fff;
}

.cv-button a {
	
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #000;
	background-color: rgba(0, 0, 0, 0.164);
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	text-decoration: none;

}

.buttons {
	display: grid;
	grid-template-columns: auto auto auto;
	margin: auto;
	width: 50%;
	text-align: center;
	margin-bottom: 2.5rem;
}

.contact-information .buttons {
	margin: 0;
	text-align: left;
	width: 40%;
}


.tooltip img {
	width: 7rem;

}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: rgba(0, 0, 0, 0.164);
	color: black;
	text-align: center;
	border-radius: 4px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 95%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.5s;
	font-size: 1.3rem;
	white-space: nowrap;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
/*----------Card1-buttons----------*/

.projects{
	
}



/*----------CONTACT----------*/
.contáctame{
	background-color: #e9e9e9;
	padding-top: 4rem;
	padding-bottom: 4rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	
}

.skills-title, .contact-title{
	background-color: #f5f5f5;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-transform: uppercase;
	font-size: 4rem;
	color: black;
	letter-spacing: 4px;
}

.contact-grid{
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	height: 75vh;
	padding-left: 20rem;
	
}

.contact-information h2{
	font-size: 7.5rem;
	margin: 0;
}

.contact-information h3{
	font-size: 3.5rem;
}

.contact-information p img{
	width: 2.2rem;
}

form {
	max-width: 50rem;
}


input[type="text"],
input[type="email"],
textarea {
	display: block;
	width: 100%;
	padding: 1rem 1rem;
	margin-bottom: 2rem;
	margin-top: 0.5rem;
	font-size: 1.6rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-family: 'Montserrat', sans-serif;
	resize: none;
}

textarea {
	padding: 1rem 1.5rem 10rem 1rem;

}

button[type="submit"] {
	display: block;
	background-color: #333;
	color: #fff;
	font-size: 1.6rem;
	padding: 1rem 1.5rem;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

button[type="submit"]:hover {
	background-color: #555;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	outline: none;
	border-color: #333;
}


/*----------CONTACT----------*/

/*----------FOOTER----------*/
footer {
	color: black;
	/* color de texto del footer */
	padding: 15px;
	/* espacio de relleno interno del footer */
	font-size: 1.4rem;
	/* tamaño de fuente del footer */
	text-align: center;
	/* alineación del contenido del footer */
	left: 0;
	/* distancia desde el borde izquierdo de la pantalla */
	bottom: 0;
	/* distancia desde el borde inferior de la pantalla */
	font-family: 'Montserrat', sans-serif;
}

/*----------FOOTER----------*/